@{
    ViewBag.Title = "Ошибка";
}

<div class="alert alert-danger">
    <strong>Упс, что-то пошло не так!</strong>
    <br />
    Попробуйте повторить ещё раз или обратитесь к администрации сайта!
</div>