@{
    ViewBag.Title = "ISP";
}

<div class="jumbotron">
    <h1>ISP name</h1>
    <p class="lead">
        Добро пожаловать на сайт ISP name. Мы предоставляем широкий спектр ТВ и интернет услуг.
        У нас вы можете подключиться к интернету, оформить пакет ТВ каналов или выбрать их самостоятельно.
        ТВ вещание проводится как через кабель, так и по IPTV.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Интернет пакеты</h2>
        <p>
            Мы предоставляем большое количество интернет пакетов для разных типов пользователей!
            Бюджетные пакеты для семей и студентов. Высокоростные пакеты для геймеров и дизайнеров.
        </p>
        <p>
            @Html.ActionLink("Подробнее", "InternetPackage", null, new { @class = "btn btn-default" })
        </p>
    </div>
    <div class="col-md-4">
        <h2>Пакеты ТВ каналов</h2>
        <p>
            Для вас мы сделали специальные подборки каналов по категориям.
            Вы всегда найдете то, что подходит именно вам!
        </p>
        <br />
        <p>
            @Html.ActionLink("Подробнее", "TVChannelPackage", null, new { @class = "btn btn-default" })
        </p>
    </div>
    <div class="col-md-4">
        <h2>ТВ каналы в розницу</h2>
        <p>
            У вас есть любимый канал? Не хотите переплачивать за весь пакет?
            Вы можете сэкономить оформив контракт только на некоторые из них.
        </p>
        <br />
        <p>
            @Html.ActionLink("Подробнее", "TVChannel", null, new { @class = "btn btn-default" })
        </p>
    </div>
</div>